<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel="icon" href="data:;base64,=">
</head>

<body>
    <h1><%= title %></h1>
    <hr>
    <ul>
        <% if (!root) { %>
        <li><a href="../">../</a></li>
        <% } %>
        <% list.forEach(elem => { %>
        <li>
            <div style="display: inline-block; width: 50%;"><a
                    href="<%= elem.name + (elem.type == "folder" ? "/" : "") %>"><%= elem.name + (elem.type == "folder" ? "/" : "") %></a>
            </div>
            <div style="display: inline-block; width: 30%;"><%= elem.time %></div>
            <div style="display: inline-block; width: 10%;"><%= elem.size %></div>
        </li>
        <% }); %>
    </ul>
    <hr>
    <p>Last Update: <%= time %></p>
</body>

</html>